:host {
  margin-top: 28px;
  width: 5%;
}

@media screen and (min-width: 1920px) and (max-width: 5000px) {
  :host {
    width: 9%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  :host {
    width: 12%;
  }
}

@media screen and (min-width: 1140px) and (max-width: 1399px) {
  :host {
    width: 15%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1139px) {
  :host {
    width: 17%;
  }
}

@media screen and (min-width: 740px) and (max-width: 959px) {
  :host {
    width: 23%;
  }
}

@media screen and (min-width: 560px) and (max-width: 739px) {
  :host {
    width: 30%;
  }
}

@media screen and (min-width: 420px) and (max-width: 559px) {
  :host {
    width: 40%;
  }
}

@media screen and (max-width: 419px) {
  :host {
    width: 100%;
  }
}

.pokemon-card-container {
  padding: 0;
  margin: 8px;

  .pokemon-img-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    background-color: #f2f2f2;

    img {
      margin: 0 auto;
      display: block;
      width: 100%;
      border-radius: 5px;

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .pokemon-card-info-container {
    padding: 8px;

    .pokemon-number {
      color: #919191;
      font-size: 80%;
      padding-top: 2px;
    }

    .pokemon-name {
      color: #313131;
      text-transform: none;
      font-size: 145%;
      margin-bottom: 5px;
      line-height: 125%;
      margin: 0.5em 0;
      font-weight: inherit;
    }
  }
}
