:host {
  margin-top: 28px;
}
.pokemon-card-container {
  width: 170px;
  padding: 0;
  margin: 8px;

  .pokemon-img-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    background-color: #f2f2f2;

    img {
      margin: 0 auto;
      display: block;
      width: 100%;
      border-radius: 5px;

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .pokemon-card-info-container {
    padding: 8px;

    .pokemon-number {
      color: #919191;
      font-size: 80%;
      padding-top: 2px;
    }

    .pokemon-name {
      color: #313131;
      text-transform: none;
      font-size: 145%;
      margin-bottom: 5px;
      line-height: 125%;
      margin: 0.5em 0;
      font-weight: inherit;
    }
  }
}
